<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    />
    <link rel="stylesheet" href="css/index.css" />

    <title>GO TRAVEL</title>
  </head>
  <body>
    <div id="list-add-modal" class="modal-overlay" style="display: none">
      <div class="modal-window">
        <span class="material-icons close-area"> close </span>
        <div class="img-slider">
          <div class="img"></div>
          <div class="img"></div>
          <div class="img"></div>
          <div class="img"></div>
          <div class="img"></div>
        </div>
        <div class="content">
          <div class="info">
            <span class="title">Place Info</span>
            <div class="place-info">
              <a class="name">포항 HEYAN</a>
              <div class="address">
                <span class="material-icons"> place </span>
                <span class="value">경상북도 포항시 해안대로 11길 290</span>
              </div>
              <div class="category">
                <span class="material-icons"> restaurant </span>
                <span class="value"> 카페 </span>
              </div>
              <div class="phone">
                <span class="material-icons"> call </span>
                <span class="value">053-1234-5678</span>
              </div>
              <div class="hidden-data">
                <div class="card-xy">
                  <span class="x">{{place.x}}</span>
                  <span class="y">{{place.y}}</span>
                </div>
                <span class="card-place-id">{{place.id}}</span>
              </div>
            </div>
            <span class="title">Blog Info</span>
            <div class="blog-info">
              <div class="blog-card">
                <div class="img"></div>
                <div class="info">
                  <a href="#" class="subject">카페 분위기 맛집</a>
                  <span class="summary"
                    >여긴 테이크아웃으로라도 하나씩 사 오게 되더라 포항 카페
                    헤이안 주차 포항 영일대 요트 선착장 쪽에 위치한 베이커리
                    카페, 헤이안 주말에 가면 사람 왕 많아서 웨이팅 해야 할 때도
                    있는데 나 작년 클쓰마쓰에...</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="reservation">
            <span class="title">Reservation</span>
            <div id="list-add-form">
              <div class="period">
                <span>날짜 및 시간</span>
                <div class="date-time">
                  <input type="date" name="date" />
                  <input type="time" name="time" />
                </div>
              </div>
              <div class="memo">
                <span>메모</span>
                <input type="text" name="memo" />
              </div>
              <button class="submit">추가</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="destination-input-modal"
      class="modal-overlay"
      style="display: none"
    >
      <div class="modal-window">
        <span class="material-icons close-area"> close </span>
        <div class="content">
          <form
            action="/place/destination"
            method="get"
            class="destination-input-form"
          >
            <div class="search-box">
              <input
                type="text"
                class="search-txt"
                name="query"
                placeholder="여행 목적지를 입력하세요"
              />
              <button type="submit" class="search-btn">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <header>
      <div class="header__inner">
        <div class="inner__left">
          <div class="destination-input">
            <div class="my-destination">
              <span class="material-icons"> my_location </span>
              <span class="value">여행 목적지 - {{destination}}</span>
            </div>
          </div>
        </div>
        <div class="inner__center">
          <a class="#logo" href="/">Go Travel</a>
        </div>
        <div class="inner__right">
          <div class="login-form">
            {% if user_nick %}
            <div class="user-name">{{user_nick}}</div>
            <input id="my-id" type="hidden" value="{{user.id}}" />
            <a id="logout" href="/auth/logout">로그아웃</a>
            <a id="list" class="highlight-button" href="/list">리스트</a>
            {% else %}
            <a id="login" href="/login">로그인</a>
            <a id="get-started" class="highlight-button" href="/join"
              >시작하기</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    <nav>
      <div class="nav__search-container">
        <div class="place-input">
          <span class="subject">장소검색</span>
          <div class="place-input-container">
            <form action="/place" method="get" class="place-input-form">
              <div class="search-box">
                <input
                  type="text"
                  class="search-txt"
                  name="query"
                  placeholder="식당, 호텔, 관광 검색"
                />
                <button type="submit" class="search-btn">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
            <div class="tag-show">
              <span>태그보기</span
              ><span class="material-icons"> expand_more </span>
            </div>
          </div>
        </div>
        <div class="place-tag hide">
          <div class="meal">
            <span class="subject">식사</span>
            <ul class="tag-set">
              <li>한식</li>
              <li>중식</li>
              <li>양식</li>
              <li>일식</li>
              <li>고기</li>
              <li>면</li>
              <li>탕/찜</li>
              <li>회</li>
              <li>빵</li>
              <li>카페</li>
              <li>디저트</li>
            </ul>
          </div>
          <span class="subject">관광</span>
          <ul class="tag-set">
            <li>테마파크</li>
            <li>유적지</li>
            <li>박물관</li>
            <li>등산</li>
          </ul>
          <span class="subject">수면</span>
          <ul class="tag-set">
            <li>호텔</li>
            <li>모텔</li>
            <li>팬션</li>
            <li>게스트하우스</li>
            <li>캠핑</li>
          </ul>
        </div>
      </div>
      <div class="nav__search-result-container">
        {% for place in place_list %}
        <div class="search-result-card" id="{{loop.index}}">
          <a class="card-name" href="{{place.place_url}}"
            >{{place.place_name}}</a
          >
          <div class="card-address">
            <span class="material-icons"> place </span>
            <span class="value">{{place.road_address_name}}</span>
          </div>
          <div class="card-category">
            <span class="material-icons"> restaurant </span>
            <span class="value">{{place.category_name}}</span>
          </div>
          <div class="hidden-data">
            <div class="card-xy">
              <span class="x">{{place.x}}</span>
              <span class="y">{{place.y}}</span>
            </div>
            <span class="card-phone">{{place.phone}}</span>
            <span class="card-place-id">{{place.id}}</span>
          </div>
          <div class="card-button">
            <button class="list-add">추가</button>
            <button class="loc-show">위치보기</button>
          </div>
          <div class="card-img">
            <img alt="사진" width="120" height="120" />
          </div>
        </div>
        {% endfor %}
        <div class="search-result-page">
          <div class="page-container">
            <a href="/place?query={{place_query}}&page=1">1</a>
            <a href="/place?query={{place_query}}&page=2">2</a>
            <a href="/place?query={{place_query}}&page=3">3</a>
          </div>
        </div>
      </div>
    </nav>
    <section>
      <div id="map"></div>
    </section>
  </body>
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5876e9e1e3262449c9f8c3f4b4ae3161"
  ></script>
  <script src="/js/jquery_v3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get("loginError")) {
        alert(new URL(location.href).searchParams.get("loginError"));
      }
    };
  </script>
</html>
