<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>어디서 먹지?</title>
  </head>
  <body>
    <header>
      <img
        class="list-button"
        src="image/baseline_menu_black_48dp.png"
        width="50px"
      />
      <div class="header__destination">
        {% set is_set = isSet %} {% if is_set %}
        <form action="/destination" method="get">
          <input type="text" name="query" class="destination-input" />
          <button type="submit" class="destination-submit">검색</button>
        </form>
        {% else %}
        <div class="header__destination-set">
          <span id="destination">{{destination}}</span>
          <input
            type="submit"
            value="위치변경"
            class="header__destination-change"
          />
        </div>
        {% endif %}
      </div>
    </header>
    <nav>
      <img
        src="./image/baseline_close_black_48dp.png"
        alt="매뉴닫기"
        class="list-button"
        width="50px"
      />
      <div class="nav__list">
        <div class="list__header">
          <span>여행 리스트</span>
          <div class="list__header-button">
            <button class="list__header-button-add">직접추가</button>
            <button class="list__header-button-delete">삭제</button>
          </div>
        </div>
        <div class="list__section">
          <div id="section-container">
            <div id="item-info">
              <div id="item-name">여행지 A</div>
              <div id="item-date">7-22(월) 09:00</div>
            </div>
            <button id="item-memo">메모</button>
          </div>
        </div>
      </div>
    </nav>
    <section>
      <div class="section__tag">
        <div class="section__tag-big">
          <span class="meal">식사</span>
          <span class="tourism">관광</span>
          <span class="sleep">수면</span>
          <div class="section__tag-search">
            <form action="/place" method="get">
              <input type="text" name="query" class="search-word" />
              <input type="submit" value="검색" class="search-button" />
            </form>
          </div>
        </div>
        <ul class="section__tag-middle meal">
          <li>한식</li>
          <li>중식</li>
          <li>양식</li>
          <li>일식</li>
          <li>고기</li>
          <li>면</li>
          <li>탕/찜</li>
          <li>회</li>
          <li>빵</li>
          <li>카페</li>
          <li>디저트</li>
        </ul>
        <ul class="section__tag-middle tourism">
          <li>테마파크</li>
          <li>유적지</li>
          <li>레저/체험활동</li>
          <li>박물관</li>
          <li>등산</li>
        </ul>
        <ul class="section__tag-middle sleep">
          <li>호텔</li>
          <li>모텔</li>
          <li>팬션</li>
          <li>게스트하우스</li>
          <li>캠핑</li>
        </ul>
      </div>
      <div class="section__container">
        {% set place_list = place_list %} {% for place in place_list %}
        <a
          class="section__item"
          id="{{loop.index}}"
          href="place/info?id={{place.id}}"
        >
          <img class="section__item-img" src="" alt="미리보기 없음" />
          <div class="section__item-info">
            <div id="id">{{place.id}}</div>
            <div id="name">{{place.place_name}}</div>
            <div id="address">{{place.road_address_name}}</div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="section__page">
        <div class="section__page-container">
          <button class="section__page-item" id="1">1</button>
          <button class="section__page-item" id="2">2</button>
          <button class="section__page-item" id="3">3</button>
        </div>
      </div>
    </section>
  </body>
  <script src="/js/jquery_v3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/index.js"></script>
</html>
