<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>GO_TRAVEL</title>
  </head>
  <body>
    <header>
      <img
        class="list-button"
        src="image/baseline_menu_black_48dp.png"
        width="50px"
      />
      <div class="header__destination">
        {% set is_set = isSet %} {% if is_set %}
        <form action="/search/destination" method="get">
          <input type="text" name="query" class="destination-input" />
          <button type="submit" class="destination-submit">검색</button>
        </form>
        {% else %}
        <div class="header__destination-set">
          <span id="destination">{{destination}}</span>
          <input
            type="submit"
            value="위치변경"
            class="header__destination-change"
          />
        </div>
        {% endif %}
      </div>
      {% if user_nick %}
      <div class="user-name">{{'안녕하세요! ' + user_nick + '님'}}</div>
      <input id="my-id" type="hidden" value="{{user.id}}" />
      <a id="my-profile" href="/profile" class="btn">내 프로필</a>
      <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
      {% else %}
      <form id="login-form" action="/auth/login" method="post">
        <div class="input-group">
          <label for="email">이메일</label>
          <input id="email" type="email" name="email" required autofocus />
        </div>
        <div class="input-group">
          <label for="password">비밀번호</label>
          <input id="password" type="password" name="password" required />
        </div>
        <a id="join" href="/join" class="btn">회원가입</a>
        <button id="login" type="submit" class="btn">로그인</button>
      </form>
      {% endif %}
    </header>
    <nav>
      <img
        src="./image/baseline_close_black_48dp.png"
        alt="매뉴닫기"
        class="list-button"
        width="50px"
      />
      <div class="nav__list">
        <div class="nav__list-header">
          <span>여행 리스트</span>
          <div class="list__header-button">
            <button class="list__header-button-add">직접추가</button>
            <button class="list__header-button-delete">전체삭제</button>
          </div>
        </div>
        <div class="nav__list-container"></div>
      </div>
    </nav>
    <section>
      <div class="section__tag">
        <div class="section__tag-big">
          <span class="meal">식사</span>
          <span class="tourism">관광</span>
          <span class="sleep">수면</span>
          <div class="section__tag-search">
            <form action="/search/place" method="get">
              <input type="text" name="query" class="search-word" />
              <input type="submit" value="검색" class="search-button" />
            </form>
          </div>
        </div>
        <ul class="section__tag-middle meal">
          <li>한식</li>
          <li>중식</li>
          <li>양식</li>
          <li>일식</li>
          <li>고기</li>
          <li>면</li>
          <li>탕/찜</li>
          <li>회</li>
          <li>빵</li>
          <li>카페</li>
          <li>디저트</li>
        </ul>
        <ul class="section__tag-middle tourism">
          <li>테마파크</li>
          <li>유적지</li>
          <li>레저/체험활동</li>
          <li>박물관</li>
          <li>등산</li>
        </ul>
        <ul class="section__tag-middle sleep">
          <li>호텔</li>
          <li>모텔</li>
          <li>팬션</li>
          <li>게스트하우스</li>
          <li>캠핑</li>
        </ul>
      </div>
      <div class="section__container">
        {% for place in place_list %}
        <div class="section__place">
          <img class="section__place-img" src="" alt="미리보기 없음" />
          <div class="section__place-info">
            <a
              class="section__place-name"
              href="/place?id={{place.id}}&name={{place.place_name}}&y={{place.y}}&x={{place.x}}"
              >{{place.place_name}}</a
            >
            <div class="section__place-address">
              {{place.road_address_name}}
            </div>
            <div>{{place.y}}</div>
            <div>{{place.x}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="section__page">
        <div class="section__page-container">
          <button class="section__page-item">1</button>
          <button class="section__page-item">2</button>
          <button class="section__page-item">3</button>
        </div>
      </div>
    </section>
  </body>
  <script src="/js/jquery_v3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get("loginError")) {
        alert(new URL(location.href).searchParams.get("loginError"));
      }
    };
  </script>
</html>
