<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>여행지 정보</title>
  </head>
  <body>
    <h1>Place Info</h1>
    <div class="section__place">
      <img src="" alt="section__place-image" width="500" height="500" />
      <div class="section__place-info">
        <div class="section__place-name">이름 - {{place.place_name}}</div>
        <div class="section__place-road-address">
          주소 - {{place.road_address_name}}
        </div>
        <div class="section__place-address">
          주소(지번) - {{place.address_name}}
        </div>
        <div class="section__place-phone">전화번호 - {{place.phone}}</div>
        <div class="section__place-category">
          카테고리 - {{place.category_name}}
        </div>
      </div>
    </div>
    <div class="user-setting-data">
      <h1>방문시간</h1>
      <div class="datetime"></div>
      <h1>메모</h1>
      <div class="memo"></div>
    </div>
  </body>
  <script src="/js/jquery_v3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/list_info.js"></script>
</html>
