<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/my_list.css" />
    <title>여행지 목록</title>
  </head>
  <body>
    <nav>
      <div class="left">
        <h1 class="title">여행 일정</h1>
        {% set day = 0 %} {% for place in data %} {% if day != place.day %} {%
        set day = place.day %}
        <h2 class="day">Day {{place.day}}</h2>
        {% endif %}
        <div class="travel-data-card" id="{{loop.index}}">
          <div class="place-info">
            <a
              href="https://place.map.kakao.com/{{place.placeId}}"
              class="card-name"
              >{{place.name}}</a
            >
            <div class="card-address">
              <span class="material-icons"> place </span>
              <span class="value">{{place.road_address_name}}</span>
            </div>
            <div class="card-category">
              <span class="material-icons"> restaurant </span>
              <span class="value">{{place.category_name}}</span>
            </div>
            <div class="hidden-data">
              <div class="card-xy">
                <span class="x">{{place.x}}</span>
                <span class="y">{{place.y}}</span>
              </div>
              <span class="card-phone">{{place.phone}}</span>
              <span class="card-place-id">{{place.placeId}}</span>
            </div>
            <div class="card-button">
              <button class="list-more">자세히보기</button>
              <button class="loc-show">위치보기</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="right">
        <span class="material-icons close-button"> close </span>
        <div class="place-info">
          <h1>여행지 정보</h1>
          <span class="card-name"></span>
          <div class="card-address">
            <span class="material-icons"> place </span>
            <span class="value"></span>
          </div>
          <div class="card-category">
            <span class="material-icons"> restaurant </span>
            <span class="value"></span>
          </div>
          <div class="card-phone">
            <span class="material-icons"> call </span>
            <span class="value"></span>
          </div>
          <div class="hidden-data">
            <div class="card-xy">
              <span class="x"></span>
              <span class="y"></span>
            </div>
            <span class="card-place-id"></span>
          </div>
        </div>
        <div class="stored-data">
          <h2>방문 날짜</h2>
          <span class="date"></span>
          <h2>메모</h2>
          <span class="memo"></span>
        </div>
        <div class="data-control">
          <button class="list-delete">삭제</button>
          <button class="list-modify">수정</button>
        </div>
      </div>
    </nav>
    <section></section>
  </body>
  <script src="/js/jquery_v3.6.0.js"></script>
  <script src="/js/my_list.js"></script>
</html>
