<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <section>
    <h1>Place Info</h1>
    <div class="section__place">
      <img src="" alt="section__place-image" />
      <div class="section__place-info">
        <a href="{{place.place_url}}" class="section__place-name"
          >{{place.place_name}}</a
        >
        <div class="section__place-road-address">
          {{place.road_address_name}}
        </div>
        <div class="section__place-y">{{place.y}}</div>
        <div class="section__place-x">{{place.x}}</div>
        <div class="section__place-address">{{place.address_name}}</div>
        <div class="section__place-phone">{{place.phone}}</div>
        <div class="section__place-category">{{place.category_name}}</div>
      </div>
      <div class="section__place-submit-form">
        <form action="javascript:addList()">
          <input type="date" name="date" />
          <input type="time" name="time" />
          <textarea name="memo" cols="30" rows="10"></textarea>
          <input type="submit" value="리스트에 추가" />
        </form>
      </div>
    </div>
    <h1>Blog</h1>
    <div class="blog__container">
      {% for blog in blog_list %}
      <div class="blog__item" id="{{loop.index}}">
        <img src="{{blog.thumbnail}}" alt="블로그 이미지" />
        <a href="{{blog.url}}" class="blog__item-subject"
          >제목 - {{blog.title}}</a
        >
        <div class="blog__item-summary">요약 - {{blog.contents}}</div>
        <div class="blog__item-date">업로드일 - {{blog.datetime}}</div>
        <div class="blog__item-name">블로그 이름 - {{blog.blogname}}</div>
        <br />
      </div>
      {% endfor %}
    </div>
    <h1>Map</h1>
    <div id="map" style="width: 100%; height: 350px"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5876e9e1e3262449c9f8c3f4b4ae3161"
    ></script>
    <script src="/js/jquery_v3.6.0.js"></script>
    <script src="/js/place_info.js"></script>
  </section>
</html>
