<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <section>
    <div class="section__place">
      <div class="place-info">
        <div class="img-part">
          <img src="" alt="" />
        </div>
        <div class="info-part">
          <div class="place-name">{{place.place_name}}</div>
          <div class="place-road-address">{{place.road_address_name}}</div>
          <div class="place-y">{{place.y}}</div>
          <div class="place-x">{{place.x}}</div>
          <div class="place-address">{{place.address_name}}</div>
          <div class="place-phone-">{{phone}}</div>
        </div>
      </div>
    </div>
    <div class="blog__container">
      <div class="blog__item">
        <div class="blog__item-subject">subject</div>
        <div class="blog__item-date">date</div>
        <div class="blog__item-name">blogName</div>
        <div class="blog__item-summary">summary</div>
      </div>
    </div>
    <div id="map" style="width: 100%; height: 350px"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5876e9e1e3262449c9f8c3f4b4ae3161"
    ></script>
    <script src="/js/jquery_v3.6.0.js"></script>
    <script src="/js/place_info.js"></script>
  </section>
</html>
