html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  position: relative;
  width: 1500px;
  height: 150px;
  margin: 0 auto;
}

header .list-button {
  position: absolute;
  top: 51px;
  left: 10px;
}

.header__destination {
  position: absolute;
  top: 51px;
  left: 350px;
  width: 800px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}

nav {
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: aqua;
  display: none;
  z-index: 1;
}

nav .list-button {
  margin: 20px;
}

nav .nav__list {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}
nav .list__header {
  width: 100%;
  height: 70px;
  padding: 20px 0;
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

nav .list__header span {
  font-size: 30px;
  margin-left: 30px;
}

nav #section-container {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  position: relative;
  background-color: dodgerblue;
  width: 1500px;
  margin: 0 auto;
}

.section__tag {
  background-color: bisque;
  height: 100px;
  padding: 20px 20px;
  box-sizing: border-box;
}

.section__tag-big {
  width: 500px;
  padding-left: 0;
  text-align: center;
  list-style: none;
  margin: 0 auto;
}
.section__tag-big li {
  display: inline-block;
  margin: 0 10px;
}

.section__tag-middle {
  width: 800px;
  padding-left: 0;
  text-align: center;
  list-style: none;
  margin: 0 auto;
  display: none;
}

.section__tag-middle li {
  display: inline-block;
  margin: 25px 10px;
}

.section__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section__item {
  width: 300px;
  height: 300px;
  margin: 30px;
}

.section__item-img {
  display: block;
  width: 300px;
  height: 200px;
  background-color: darkseagreen;
}

.section__item-info {
  width: 300px;
  height: 100px;
  background-color: darkorchid;
  text-align: center;
}

.section__item-info #name {
  position: relative;
  top: 15px;
  font-size: 25px;
}

.section__item-info #address {
  position: relative;
  top: 25px;
  text-align: center;
}

.section__page {
  background-color: darkseagreen;
}

.section__page-container {
  width: 80px;
  margin: 0 auto;
}

.section__page-item {
  display: inline-block;
  width: 20px;
  text-align: center;
  border: 1px solid black;
}
