html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.modal-overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}

.modal-window {
  background: #fff;
  width: 900px;
  height: 900px;
  position: relative;
}

#list-add-modal .img-slider {
  width: 900px;
  height: 400px;
  background-color: #86a8e7;
}

#list-add-modal .content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#list-add-modal .content .title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(181, 181, 181);
}

#list-add-modal .content .place-info {
  font-size: 17px;
  margin: 10px 5px 20px 5px;
}

#list-add-modal .content .place-info .material-icons {
  position: relative;
  top: 5px;
}

#list-add-modal .content .place-info .name {
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
}

#list-add-modal .content .blog-info {
  margin-top: 10px;
}

#list-add-modal .content .blog-card {
  display: flex;
  margin: 5px;
}

#list-add-modal .content .blog-card .img {
  width: 150px;
  height: 150px;
  background-color: gray;
  margin-right: 10px;
}

#list-add-modal .content .blog-card .info {
  width: 400px;
}

#list-add-modal .content .blog-card .info .subject {
  display: block;
  margin-bottom: 7px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

#list-add-modal .content .blog-card .info .summary {
  display: block;
}

#list-add-modal .content .reservation {
  margin-left: 10px;
}

#list-add-form {
  margin: 10px 5px 20px 5px;
}

#list-add-form .memo {
  margin-top: 20px;
}

#list-add-form .memo input {
  width: 300px;
  height: 200px;
  border: 1px solid silver;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

#list-add-form .submit {
  margin-top: 20px;
  width: 300px;
  height: 35px;
  color: #fff;
  background-color: #86a8e7;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

#list-add-form span {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.close-area {
  display: inline;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

header {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  height: 100px;
}

header a {
  text-decoration: none;
  color: black;
}

.header__inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 25px;
}

.inner__left .destination-input {
  display: flex;
}

.inner__left .destination-input > * {
  margin: 0 5px;
}

.search-box {
  padding: 10px;
  position: relative;
  width: 240px;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
}

.search-btn {
  all: unset; /* 버튼 모양 제거 */
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  width: 210px;
}

.inner__left .my-destination {
  width: 262px;
  position: relative;
  top: 13px;
  display: flex;
}

.inner__left .my-destination * {
  display: inline-block;
  margin: 0 5px;
}

.inner__center {
  font-family: "Caveat", cursive;
  font-size: 40px;
}

.inner__right .login-form {
  display: flex;
  position: relative;
  top: 16px;
}

.inner__right * {
  margin: 0 5px;
}

.inner__right .highlight-button {
  position: relative;
  top: -10px;
  background-color: #86a8e7;
  padding: 10px 10px 9px 10px;
  border-radius: 10px;
  color: white;
}

nav {
  width: 400px;
  background-color: #86a8e7;
  z-index: 1;
}

.nav__search-container {
  width: 100%;
  font-size: 15px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.nav__search-container .subject {
  font-size: 20px;
  display: inline-block;
  margin: 10px 5px;
  font-weight: 700;
}

.nav__search-container .place-input {
  margin-bottom: 10px;
}

.nav__search-container .place-input .place-input-container {
  display: flex;
  justify-content: space-between;
}

.nav__search-container .place-input .place-input-container .tag-show {
  position: relative;
  top: 10.5px;
  cursor: pointer;
}

.nav__search-container
  .place-input
  .place-input-container
  .tag-show
  .material-icons {
  position: relative;
  top: 5px;
}

.nav__search-container .place-input .search-box {
  padding: 10px;
  position: relative;
  width: 240px;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
}

.nav__search-container .place-input .search-btn {
  all: unset; /* 버튼 모양 제거 */
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav__search-container .place-input .search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  width: 210px;
}

.nav__search-container .place-tag.hide {
  display: none;
}

.nav__search-container .tag-set {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
  padding: 0;
}

.nav__search-container .tag-set li {
  list-style: none;
  margin: 1px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
}

.nav__search-result-container {
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.nav__search-result-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.nav__search-result-container .search-result-card {
  position: relative;
  width: 380px;
  height: 130px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.nav__search-result-container .search-result-card .card-name {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 7px 0;
  font-size: 20px;
  font-weight: 700;
}

.nav__search-result-container .search-result-card .material-icons {
  font-size: 19px;
}

.nav__search-result-container .search-result-card .value {
  position: relative;
  display: inline-block;
  top: -5px;
}

.nav__search-result-container .search-result-card .card-img {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 120px;
  height: 120px;
  background-color: gray;
}

.nav__search-result-container .search-result-card .card-img {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 120px;
  height: 120px;
  background-color: gray;
}

.nav__search-result-container .search-result-card .card-button {
  margin: 5px 0 0 0;
}

.nav__search-result-container .search-result-card .card-button button {
  background: #fff;
  border: 0;
  padding: 0;
  font-size: 16px;
  margin-right: 5px;
  color: #2470a0;
  font-weight: 700;
}

.nav__search-result-container .search-result-page {
  width: 100%;
}

.nav__search-result-container .search-result-page .page-container {
  width: 84px;
  margin: 0 auto;
}

.nav__search-result-container .search-result-page .page-container a {
  width: 25px;
  height: 25px;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: cornsilk;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

section {
  position: relative;
  position: absolute;
  top: 100px;
  left: 400px;
}

#map {
  overflow: hidden;
}

.hidden-data {
  display: none;
}
