html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.modal-overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}

.modal-window {
  background: #fff;
  width: 1000px;
  height: 800px;
  position: relative;
}

.close-area {
  display: inline;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  display: flex;
}

nav .left {
  padding: 10px;
  width: 400px;
  background-color: aquamarine;
}

nav .left .day {
  margin-bottom: 10px;
}

nav .left .travel-data-card {
  position: relative;
  width: 380px;
  height: 120px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
}

nav .left .travel-data-card .place-info .material-icons {
  position: relative;
  font-size: 20px;
  top: 5px;
}

nav .left .travel-data-card .place-info .card-name {
  font-weight: 700;
  font-size: 20px;
}

nav .left .travel-data-card .place-info .card-button {
  position: absolute;
  bottom: 10px;
}

nav .right {
  display: none;
  width: 500px;
  height: 100%;
  background-color: darkseagreen;
}

nav .right .material-icons.close-button {
  cursor: pointer;
}

.hidden-data {
  display: none;
}
