html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

nav {
  margin: 10px;
  width: 400px;
  z-index: 2;
  position: relative;
  background-color: #fafafa;
  border: 1px solid rgb(181, 181, 181);
}

.nav__top-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav__top-container .subject {
  font-size: 20px;
  display: inline-block;
  font-weight: 700;
}

.nav__top-container button {
  background: #fafafa;
  border: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 16px;
  color: #2470a0;
  font-weight: 700;
}

.nav__user-planner-container {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.nav__user-planner-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.nav__user-planner-container .day {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgb(181, 181, 181);
}

.nav__user-planner-container .user-planner-card {
  width: 380px;
  position: relative;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(181, 181, 181);
}

.nav__user-planner-container .user-planner-card .card-name {
  width: 230px;
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0 0 7px 0;
  font-weight: 700;
}

.nav__user-planner-container .user-planner-card .item {
  display: flex;
  margin: 0 5px 5px 0;
}

.nav__user-planner-container .user-planner-card .material-icons {
  font-size: 19px;
  margin-right: 5px;
}

.nav__user-planner-container .user-planner-card .value {
  width: 210px;
  position: relative;
  display: inline-block;
  white-space: normal;
}

.nav__user-planner-container .user-planner-card .card-img {
  width: 120px;
  height: inherit;
}

.nav__user-planner-container .user-planner-card .card-img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__user-planner-container .user-planner-card .card-button {
  margin: 5px 0 0 0;
}

.nav__user-planner-container .user-planner-card .card-button button {
  background: #fafafa;
  border: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 16px;
  color: #2470a0;
  font-weight: 700;
}

section {
  position: relative;
  position: absolute;
  top: 100px;
  z-index: 0;
  /* left: 420px; */
}

#map {
  overflow: hidden;
}

.hidden-data {
  display: none;
}
